@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3&family=Ubuntu&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.bg {
  @apply bg-white dark:bg-bg-dark;
}

.primary {
  @apply bg-primary dark:bg-primary-dark;
}

.gray {
  @apply text-gray dark:text-gray-dark;
}

.text {
  @apply text-black dark:text-white;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

input {
  background: inherit;
}

*:focus-visible {
  outline: none;
}

button {
  user-select: none;
}

.epic-transition {
  transition: all 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}
