@import url("/css/fonts/loader.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

input,
textarea {
  background: inherit;
}

*:focus-visible,
*:focus-within,
*:focus {
  outline: none !important;
  box-shadow: none !important;
}

* {
  outline: none !important;
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
  -webkit-tap-highlight-color: transparent !important;
  cursor: default !important;
}

*::-webkit-scrollbar {
  display: none !important;
}

button {
  user-select: none;
}

.epic-transition {
  transition: all 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.capitalize-first::first-letter {
  text-transform: uppercase;
}

.skeleton {
  background: linear-gradient(
    100deg,
    rgba(255, 255, 255, 0) 45%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 0) 60%
  );

  background-size: 200% 100%;
  background-position-x: 180%;
  animation: shine 1.5s ease-in-out infinite;
}

@keyframes shine {
  to {
    background-position-x: -20%;
  }
}

.material-symbols-outlined {
  vertical-align: middle;
}

.filled {
  font-variation-settings:
    "FILL" 1,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}
