:root {
  --toastBarWidth: 0%;
  --toastContainerBottom: 0;
  --toastContainerTop: 8%;
  --toastBorderRadius: 0.5rem;
  --toastContainerRight: auto;
  --toastContainerLeft: 0;

  --toastBtnWidth: 0;
  --toastBtnHeight: 0;
  --toastBtnContent: "";
  --toastMsgPadding: 0;
  --toastBoxShadow: none;
  --toastMargin: 0;
  --toastWidth: 45vw;
}

._toastMsg {
  position: absolute;
  inset: 0;
  min-height: 100%;
}

._toastItem {
  overflow: visible !important;
  margin: auto;
}

._toastContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  align-items: center;
}
