:root {
  --toastBarWidth: 0%;
  --toastContainerBottom: 0;
  --toastContainerTop: 85%;
  --toastBorderRadius: 0.5rem;
  --toastContainerRight: 1rem;
  --toastBtnWidth: 0;
  --toastBtnHeight: 0;
  --toastBtnContent: "";
  --toastMsgPadding: 0;
  --toastBoxShadow: none;
  --toastMargin: 0;
}

._toastMsg {
  position: absolute;
  inset: 0;
  min-height: 100%;
}

._toastItem {
  overflow: visible !important;
}

._toastContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
